@model buoi2.Models.Product
<h2>Delete Product</h2>
<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="Id" />
    <p>Bạn có chắc muốn xóa? @Model.Name?</p>
    <button type="submit" class="btn btn-danger">Xóa</button>
</form>